#  Virtual environment directories
myenv/

#files
test.py
image.png
init_project.py
roles.py
warehouse.py
user.py
sample.json
json_data.py
role_comb.json
snowflake_config.json
sample.json

# Json folder
json/

# pages folder
pages/

