.stApp {
    margin: auto;
    margin-left: 10%;
    margin-right: 10%;
}

p,h1,h2,h3,h4,#provision-tool,#Please-specify-your-project-name,#what-are-the-domains-to-be-included,#what-are-the-environments-database-to-be-created-on-snowflake,.dvn-scroll-inner{
    font-family:Georgia, 'Times New Roman', Times, serif;
    /* color: rgb(49, 110, 25); */
    /* font-size: 60px; */
    /* font-weight: bold; */
}

.st-emotion-cache-1clstc5{
    margin-top:20px;
}

img{
    background-color: white;
    border-radius: 20px;
}
h1,#provision-tool{
    text-align: center;
    background: #004b79;
    border-radius: 5px;
    color: white;
    font-size: 30px;
}

.stButton button{
    /* background-color: rgb(42, 152, 226); */
    /* color: white; */
    margin-top: 28px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    
    
  
}
.st-emotion-cache-13ajcbe:first-child {
    border-radius: 0;
}
.st-emotion-cache-13ajcbe:last-child{
    border-radius: 0;
}

.stButton button:hover{
    /* background-color: rgb(42, 226, 168); */
    /* color: white; */
    color: blue;
    transition-duration: 0.6s;
    border: none;
    /* text-decoration: underline; */
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    
}



.st-key-first_block{
    /* padding: 20px; */
    border-radius: 5px;
    /* background-color: red; */
}

/* .stTextInput{
    /* width: 100%; */
/* } */

/* hr{
    width: 95%;
} */ 





summary{
    background: #004b79;
    border-radius: 5px;
    color:white;
}

.st-emotion-cache-4uzi61,.stExpander{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
}

.stDataFrame{
    margin-top:10px;
}

/* span{
    background-color: green;
    border-radius: 50px;
} */


/* environments required section pills */
.st-emotion-cache-1x23a44 {
    /* background-color: rgba(43, 255, 0, 0.438); */
    border-radius: 5px;
}

