.stApp {
    margin: auto;
    margin-left: 10%;
    margin-right: 10%;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    /* background: linear-gradient(315deg, #293091 3%, #7dc4ff 38%, #36cfcc 68%, #3d5791 98%); */
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}


.st-key-first_block_button button{
    background-color: rgb(42, 152, 226);
    color: white;
}
.st-key-first_block_button button:hover{
    background-color: rgb(63, 226, 42);
    color: white;
    border: none;
}

.st-key-first_block{
    padding: 20px;
    border-radius: 5px;
}

.stTextInput{
    width: 80%;
}

hr{
    width: 95%;
}

